doctype html
html
    head
    title Visitor's Information

    body    
        h1 Thanks for the info! The following was saved to the database: 

        h4 Full Name #{fullName}
        h4 Name Of Assistant: #{nameOfAssistant}    
        h4 Visitor's Age: #{visitorsAge}
        h4 Date Of Visit: #{dateOfVisit}
        h4 Time Of Visit: #{timeOfVisit}
        h4 Comments: #{comments}